          <ul class="nav navbar-nav">
            <li>
              <a href="/code.html">
                编码
              </a>
            </li>
            <li>
              <a href="/reading.html">
                阅读
              </a>
            </li>
            <li>
              <a href="/archives.html">
                笔记
              </a>
            </li>            
            <li>
              <a href="/about.html">
                关于
              </a>
            </li>
          </ul>