          <ul class="nav navbar-nav">
            <li>
              <a href="/code.html">
                code
              </a>
            </li>
            <li>
              <a href="/reading.html">
                read
              </a>
            </li>
            <li>
              <a href="/archives.html">
                mark
              </a>
            </li>            
            <li>
              <a href="/about.html">
                about
              </a>
            </li>
          </ul>